parameters:
	level: 8
	paths:
		- app

	checkGenericClassInNonGenericObjectType: false

	doctrine:
		objectManagerLoader: .build/object-manager.php

	propertyAlwaysWrittenTags:
		- '@@Gedmo'
	propertyAlwaysReadTags:
		- '@@Gedmo'

	ignoreErrors:
		-
			message: "#^Property App\\\\Model\\\\Database\\\\Advanced\\\\Entity\\\\ArticleCategory\\:\\:\\$children is never written, only read\\.$#"
			count: 1
			path: app/Model/Database/Advanced/Entity/ArticleCategory.php
