application:
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	routerFactory: App\Router\RouterFactory
	router: @routerFactory::create
	subscriber.library_limiter:
		class: App\Model\Service\LibraryLimiter
		tags: [nettrine.subscriber]

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension

	nettrine.cache: Nettrine\Cache\DI\CacheExtension

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

	nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension

	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

	translation: Contributte\Translation\DI\TranslationExtension

nettrine.dbal:
	connection:
		driver: pdo_pgsql
		host: %database.host%
		dbname: %database.dbname%
		user: %database.user%
		password: %database.password%
		charset:  UTF8
		serverVersion: 10.0
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.extensions.atlantic18:
	loggable: true
	sluggable: true
	softDeleteable: true
	treeable: true
	timestampable: true
	translatable:
		translatable: en_GB
		default: en_GB
		translationFallback: true
		persistDefaultTranslation: true
		skipOnLoad: false

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.migrations:
	directory: %appDir%/../db/Migrations
	namespace: DB\Migrations

nettrine.orm:
	entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator

nettrine.orm.annotations:
	mapping:
		App\Model\Database\Basic\Entity: %appDir%/Model/Database/Basic/Entity
		App\Model\Database\Advanced\Entity: %appDir%/Model/Database/Advanced/Entity
		# doctrine extensions entities
		Gedmo\Loggable: %appDir%/../vendor/gedmo/doctrine-extensions/src/Loggable/Entity
		Gedmo\Translatable: %appDir%/../vendor/gedmo/doctrine-extensions/src/Translatable/Entity
		Gedmo\Tree: %appDir%/../vendor/gedmo/doctrine-extensions/src/Tree/Entity

translation:
	locales:
		whitelist: [en_GB, cs_CZ]
		default: en_GB
		fallback: [en_GB]
	dirs:
		- %appDir%/../resources/l10n
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Parameter
		- Contributte\Translation\LocalesResolvers\Router
